
@media only screen and (max-width: 600px) {
  .loading{
    width: 55px;
  } 
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .loading{
    width: 65px;
  } 
}

@media only screen and (min-width: 801px) and (max-width: 1000px)  {
  .loading{
    width: 75px;
  } 
}

@media only screen and (min-width: 1001px) and (max-width: 1200px)  {
  .loading{
    width: 85px;
  } 
}